.grid-cont {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap : 10px;
    justify-content: space-evenly;
    
    left : 40%;
    right : 10%;
    top : 360px;
    height : 360px;
    z-index: -1;
    overflow-y: scroll;


}